*{
    margin: 0;
    padding: 0;
}

.container{
    /* border: 2px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100px; */
}
.card{
    display: flex;
    /* border: 2px solid black; */
    width: 936px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 11px;
    margin: 12px;
}
.image img{
    width: 207px;
}
.image{
    position: relative;
}
.capsule{
    position: absolute;
    z-index: 10;
    bottom: 5px;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.524);
    padding: 2px;
    border-radius: 5px;
}
.text{
    margin-left: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.text h1, p{
    padding: 10px 0;
}