*{
    margin: 0;
    padding: 0;
}

.container{
    /* border: 2px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
}
.card{
    display: flex;
    /* border: 2px solid black; */
    width: 936px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 207px;
}
.text{
    margin-left: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.text h1, p{
    padding: 10px 0;
}